body {
	font-family: "Source Code Pro", monospace;
}

body {
	background-color: #202124;
	color: white;
}

p {
	font-size: 1.5em;
}

.main-text {
	margin-left: 2px;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.blink-cursor {
	animation: blink 1s infinite;
}

.command {
	margin-bottom: 2px;
	margin-top: 2px;
}

#job-prompt {
	display: none;
}

#job {
	display: none;
}

#job-cursor {
	display: none;
}

#name {
	display: none;
}

#last-prompt {
	display: none;
}

#last-cursor {
	display: none;
}

#github {
	display: none;
}

#linkedin {
	display: none;
}

.socials {
	font-size: 1rem;
}

/* unvisited link */
.socials a:link {
	color: rgb(62, 199, 181);
}

/* visited link */
.socials a:visited {
	color: rgb(62, 199, 181);
}

/* mouse over link */
.socials a:hover {
	color: lightgray;
}

/* selected link */
.socials a:active {
	color: lightgray;
}